@import 'variables';
@import 'rupture';

scale = 0 $iPhone4 550px 800px $desktop;

set-container($size=$desktop) {
  +tablet() {
    lost-center: 90%;
  }

  +desktop() {
    lost-center: $size;
  }
}