/* ---------------------------------------------------------------- */
//  This is what Gulp Boilerplate renders in the final style.css,
//  so import any custom code into here in the order you want them
//  to appear
/* ---------------------------------------------------------------- */

// These two are mandatory if you want anything to work in Bootstrap
@import 'bootstrap/variables'
@import 'bootstrap/mixins'

// Now we get to the more optional imports, though without these
// everything's gonna look all screwed up
@import 'bootstrap/grid'
@import 'bootstrap/type'

// Don't want to use Bootstrap at all? Remove the previous lines
// and uncomment the following to use Skeleton CSS
// @import 'styles/skeleton.styl'

// Import relevant stylus files...
@import 'styles/splash.styl'

// Import your own custom files...
@import 'styles/custom.styl'